* {
    margin: 0px;
    padding: 0px;
}
body {
    background-color: white;
    display: inline-block;
    overflow-x: hidden;
}
.navBar {
    display: flex;
    background-color: grey;
    width: 100vw;
}
.navBarComp {
    float: left;
    width: 25vw;
    text-align: center;
    white-space: nowrap;
}
.navBarComp:hover {
    background-color: white;
}
.navBarComp h1 {
    margin-top: 1vh;
    margin-bottom: 1vh;
    color: white;
}
.title {
    width: 100vw;
    text-align: center;
    background-color: green;
    display: inline-block;
}
.title h1{
    margin-top: 5vh;
    margin-bottom: 5vh;
}
.waterBottle {
    margin: 5vh 2vw 5vh 2vw;
    width: 12vw;
    text-align: center;
}
.waterBottle img {
    width: calc(12vw + (var(--marginLol)) * -2vw);
    margin-left: calc(var(--marginLol) * 1vw);
    margin-right: calc(var(--marginLol) * 1vw);
    height: 30vh;
}
.waterBottle .buttonLol {
    background-color: white;
    margin-bottom: 20px;
    margin: auto;
}
.waterBottle .buttonLol p {
    margin: 1vh 1vw 1vh 1vw;
}
.waterBottle .buttonLol:hover {
    background-color: grey;
}
.buttonLol {
    border-radius: 15px;
    border-style: solid;
    display: inline-block;
    cursor: pointer;
    text-align: center;
}
.waterText {
    width: 50vw;
    display: inline-block;
}
.waterText h1 {
    font-size: 40px;
}
.waterText p, h1, h2, .buttonLol{
    margin-left: 10vw;
    margin-right: 10vw;
}
.waterText .buttonLol p {
    margin: 10px;
}
.waterText .buttonLol:hover {
    background-color: grey;
}
.waterText h1 {
    margin-top: 10vh;
}
.waterImg {
    display: inline-block;
    width: 40vw;
}
.waterImg img {
    width: calc(50vw + (var(--marginLol)) * -2vw);
    margin-left: calc(var(--marginLol) * 1vw);
    margin-right: calc(var(--marginLol) * 1vw);
    height: 50vh;
    margin-top: 10vh;
}
.marginCart {
    margin-left: 75vw;
    width: 20vw;
    display: inline-block;
}
.cartButton {
    margin: auto;
    width: 5vw;
    height: 5vw;
    margin-left: 7.5vw;
    background-color: white;
}
.cartButton p {
    margin: 20px;
}
.cartButton:hover {
    background-color: grey;
}
.cartButton img {
    width: 4vw;
    height: 4vw;
    margin: .5vw;
}
.dropDown {
    position: absolute;
    width: 20vw;
    display: inline-block;
    /* box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75); */
}
.cartContent {
    text-align: center;
    overflow-y: auto;
    overflow-x: hidden;
    /* max-height: 50vh; */
    height: 40vh;
    /* padding-top: 1px;
    padding-bottom: 1px; */
}
.cartItem {
    border-width: 5px;
    height: 8vh;
    width: 20vw;
    border-color: rgb(151, 151, 151);
    display: flex;
}
.cartItem img {
    margin-left: 2vw;
    margin-top: 2vh;
    margin-bottom: 2vh;
    width: 2vw;
    height: 8vh;
}
.cartText {
    position: relative;
    display: inline-block;
    margin-left: 2vw;
    margin-right: 2vw;
    margin-top: 2vh;
    text-align: center;
    width: 10vw;
}
.cartStuff p {
    margin-top: 200px;
    margin-bottom: 200px;
}
.dropDown img {
    position: relative;
    display: block;
    width: 20vw;
    height: 5vh;
}
.trashButton {
    position: relative;
    margin-left: 2vw;
    margin-top: 2vh;
    width: 5vw;
    height: 6vh;
}
.trashButton img {
    position: relative;
    margin-top: 1vh;
    margin-left: .5vw;
    margin-right: .5vw;
    width: 3vw !important;
    height: 4vh !important;
}
.checkOut {
    margin: 0 5vw 1vh 5vw;
    width: 10vw;
}
.superDiv {
    background-color: red;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.waterGame {
    position: absolute;
    width: 100vw;
    height: 100vh;
    text-align: center;
    z-index: 0;
}
.waterGame h1 {
    margin-top: 20vh;
}
.waterImgGame {
    position: absolute;
    width: 5vw;
    height: 30vh;
    margin-top: 60vh;
    cursor: pointer;
}
.waterAnim1 {
    animation-name: fall, flip1;
    animation-duration: 1s, 1s;
}
.waterAnim2 {
    animation-name: fall, flip2;
    animation-duration: 1s, 1s;
    transform: rotate(810deg);
}
.waterAnim3 {
    animation-name: fall, flip3;
    animation-duration: 1s, 1s;
    transform: rotate(900deg);
}
.waterAnim4 {
    animation-name: fall, flip4;
    animation-duration: 1s, 1s;
    transform: rotate(990deg);
}
@keyframes fall{
    from {
        margin-top: 60vh;
    }
    50% {
        margin-top: 30vh;
    }
    to {
        margin-top: 60vh;
    }
}
@keyframes flip1{
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(720deg);
    }
}
@keyframes flip2{
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(810deg);
    }
}
@keyframes flip3{
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(900deg);
    }
}
@keyframes flip4{
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(990deg);
    }
}
.txtLol {
    margin-top: 30vh;
    text-align: center;
    margin-left: auto;
    position: absolute;
    width: 100vw;
}
.nav {
    z-index: 100;
    position: relative;
}